@import '__globals.scss';

body {
  padding: 0;
  margin: 0;
  background-color: #000;
}

button {
  background-color: transparent;
  color: orange;
  border: orange 2px solid;

  padding: 1rem;

  &:hover {
    cursor: pointer;
    background-color: rgb(56, 36, 0);
  }
}

.hero-section {
  color: white;
  text-align: center;
}

.level-select {
  text-align: center;
}